<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Morag's World!</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    <h1>Morag's World</h1>
    <h2>Morag's Bucket List</h2>
    <ul>

    </ul>
    <table>
      <thead>
        <tr>
          <td>Country Name</td>
          <td>Population</td>
          <td>Density</td>
        </tr>
      </thead>
      <% for country in COUNTRIES %>
      <tr>
        <td data-name= <%= country['name'] %> > <%= country['name'] %> </td>
          <td> <%= country['population'] %> </td>
          <td> <%= population_density( country ) %> </td>
      <% end %>
    </table>
  </body>
</html>
